html{
    background-color: gray;
    color: black;
    font: 1.0rem;
    margin: 1.0rem;
    padding: 1.0rem;
}

a{
    text-align: underline;
    color: blue;
    cursor: pointer;
}
a:visited{
    color:red;
}
a:hover,a:focus{
    color:dodgerblue;
    background: gold;
}
a:active{
    color:purple;
}
*{
    text-align: center;
}